<div class="panel-group" id="accordion{{ node }}{{ loop_index }}" role="tablist" aria-multiselectable="true">
        <div class="panel-heading" role="tab" id="headingOne{{ node }}{{ loop_index }}">
          <h6 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion{{ node }}{{ loop_index }}" href="#collapseOne{{ node }}{{ loop_index }}" aria-expanded="false" aria-controls="collapseOne{{ node }}{{ loop_index }}" class="collapsed">
              {{ ((nodes[node][name]|sum) / (nodes[node][name]|length))|round(1, 'ceil') }} ({{ (((nodes[node][name]|sum) / (nodes[node][name]|length))/125)|round(1, 'ceil')}})
            </a>
          </h6>
        </div>
        <div id="collapseOne{{ node }}{{ loop_index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne{{ node }}{{ loop_index }}" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
            <ol>
                {% for i in nodes[node][name] %}
                    <li>attempt: {{ i }} MB/s</li>
                {% endfor %}
            </ol>

          </div>
        </div>
</div>